@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="SampleApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/Site.js"></script>
</head>
<body>
    <div ng-controller="EmpCtrl">
        Employee Id: {{Empno}}<br />
        Name: {{Ename}}<br />
        Department: {{Deptno}}<br />

        <div ng-controller="EmpSalDetailsCtrl">
            Salary: {{Sal}}<br />
            Annual Salary: {{GetAnnSal(Sal)}}<br />
        </div>

    </div>
</body>
</html>
