@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="SampleApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/Site.js"></script>
</head>
<body>
    <div ng-controller="EmployeeCtrl">
        Employee Id: {{Empno}}<br />
        Name: {{Ename}}<br />
        Salary: {{Sal}}<br />
        Department: {{Deptno}}<br />
    </div>
</body>
</html>
